body{
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container{
  width: 90vw;
  position: relative;
}
.slider{
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow: auto;/*auto*/
}
.slider_content{
  display: grid;
  padding: 20px 0;
  gap: 40px;
  grid-auto-flow: column;
}
.slider_block{
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  border: 2px solid #cbcbcb;
  box-sizing: border-box;
  .slider_img{
    width: 240px;
  }
  p{
    text-align: justify;
  }
}
.navigate{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}
.navigate_btn{
  border: 2px solid #cbcbcb;
  border-radius: 100%;
  background-color: white;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.navigate_btn:hover{
  background-color: #cbcbcb;
}
.navigate_btn:disabled {
  opacity: 0.5;
}