*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
  @include flex-center;
  text-align: center;
  flex-direction: column;
}
.about{
  @include flex-center;
  flex-direction: column;
  margin-top: 30px;
  div{
    border-bottom: 1px solid black;
    width: 50px;
    margin: 30px 0;
  }
}
.about_name{
  letter-spacing: 5px;
  text-transform: uppercase;
}
.about_text{
  line-height: 1.5;
  color: rgb(121, 121, 121);
  font-size: 14px;
}
.content{
 @include flex-center;
 flex-wrap: wrap;
  flex-direction: row;
  margin: 40px;
  gap: 40px;
}
.content_block{
  @include flex-center;
  flex-direction: column;
  h3{
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }
  p{
    font-size: 14px;
  }
}
.content_block_img{
  @include flex-center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid #d7cfcf;
  margin: 20px;
}
.line{
  position: relative;
  text-align: center;
  border-bottom: 2px solid #d7cfcf;
  width: 35%;
}
.line-left{
  top: 70px;
  right: 100px;
}
.line-right{
  top: -70px;
  left: 100px;
}